build
bin
logs
test-logs/
src/transtur_card_atm/tests/test-data
*.log*
.*
src/github.com
!src/github.com/kuznetsovin
src/golang.org/
src/cloud.google.com/
src/gopkg.in/
src/google.golang.org/
pkg/
runtime/
node_modules
dist